{% extends "base.html" %}

{% block pageheading %}Welcome to the English to Māori visual dictionary!{% endblock %}

{% block main %}
<div class="text">
  <p>Te Reo Māori is an offical language of Aotearoa, New Zealand since 1987. The language is of great importance to the New Zealand culture. By learning the language helps to preserve the culture and enables people to have a greater understanding of Māori culture and heritage.</p>
  <p>The online visual Māori to English visual dictionary is designed to help students learn new phrases in Māori or English. Visit the <a href ="/words/1">translations page</a> to start learning new vocabularies. </p>
</div>
{% endblock %}